@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main aria-labelledby="title">
    <div class="container min-vh-5">
        <div class="row w-100">
            <h2 class="fw-lighter black-color">@global_asax.Trans("Sent Email Successfully")</h2>
            <p class="black-color">@global_asax.Trans("Please check your email")</p>
        </div>
    </div>
</main>
