@{
    ViewBag.Title = "Home Page";
}

<main>
    <div>
        <h1>@ViewBag.Course.title</h1>
        <button onclick="buy(@ViewBag.Course.id)">Buy</button>
        <script>
            function setCookieForCart(cookieName, cookieValue, secondsToExpire, type = 1) {
                if (type == 0) {
                    var expires = secondsToExpire;
                } else if (type == 1) {
                    var date = new Date();
                    date.setTime(date.getTime() + (secondsToExpire * 1000));
                    var expires = "expires=" + date.toUTCString();
                }

                var valueCookie = getCookie(cookieName);
                if (valueCookie == "") {
                    var updatedCookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
                } else {
                    let str1 = valueCookie;
                    let str2 = cookieValue;

                    let updatedStr1 = '';
                    let courseIdToUpdate = '';
                    let countToAdd = 0;
                    let courseIdExists = false;

                    // Lấy courseId và count từ str2
                    let str2Parts = str2.split('-');
                    str2Parts.forEach(pair => {
                        let [key, value] = pair.split('=');
                        if (key === 'courseId') {
                            courseIdToUpdate = value;
                        } else if (key === 'count') {
                            countToAdd = parseInt(value);
                        }
                    });

                    // Cập nhật str1
                    let parts1 = str1.split(',');
                    parts1.forEach(part => {
                        let keyValuePairs = part.split('-');
                        let obj = {};
                        keyValuePairs.forEach(pair => {
                            let [key, value] = pair.split('=');
                            obj[key] = value;
                        });
                        if (obj.courseId === courseIdToUpdate) {
                            courseIdExists = true;
                            obj.count = parseInt(obj.count) + countToAdd;
                        }
                        updatedStr1 += `courseId=${obj.courseId}-count=${obj.count}`;
                    });

                    if (!courseIdExists) {
                        updatedStr1 += "," + str2;
                    }

                    valueCookie = updatedStr1;

                    var updatedCookie = cookieName + "=" + valueCookie + ";" + expires + ";path=/";
                }

                document.cookie = updatedCookie;
            }
            function buy(id) {
                let count = 5;
                let value = "courseId=" + id + "-count=" + count;
                setCookieForCart("cart", value, 30*24*60*60)
            }
        </script>
    </div>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 class="fw-bold text-dark" id="title">ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 class="text-dark" id="gettingStartedTitle">Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 class="text-dark" id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 class="text-dark" id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>
    </div>
</main>