@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <h1>404 - Page Not Found</h1>
    <p>The requested URL @Model was not found on this server.</p>
</body>
</html>
